:root {
  --green: #005944;
  --lightGreen: #ebf7f5;
  --headingColor: #00945f;
  --white: #ffffff;
  --contentColor: #888888;
  --buttonBg: #e97300;
}

body {
 background: var(--white);;
 padding: 0;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2em;
 line-height: 1.6em;
 color: var(--contentColor);
}

.container {
    width: 90%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    text-align: center;
    padding: 0 0 20px;
    position: relative;
    color: var(--headingColor);
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        width: 100px;
        height: 2px;
        background: var(--headingColor);
        left: 0;
        right: 0;
        margin: auto;
    }
}

h1 {
    font-size: 1.6em;
    line-height: 1.6em;
}

h2 {
    font-size: 1.4em;
    line-height: 1.4em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    text-align: left;
    &::after{
        display: none;
    }
}

.globalButton {
    background: var(--buttonBg);
    border: 1px solid var(--buttonBg);
    color: var(--white);
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    &:hover {
        background: var(--white);
        color: var(--buttonBg);
        transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
    }
}

header.secHeader {
    display: block;
    padding: 55px 0;
}

footer.secFooter {
    display: block;
    padding: 25px 0;
    border-top: 1px solid var(--headingColor);
    .disclaimer {
        font-size: 0.8em;
        line-height: 1.2em;
        a {
            color: var(--contentColor);
            &:hover {
                color: var(--headingColor);
            }
        }
    }
    .menuFooter {
        display: block;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            border-left: 1px solid #000;
            padding: 0 10px;
            line-height: 1.2em;
            list-style: none;
            &:first-child {
                border: 0;
                padding-left: 0;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: #000;
                &:hover {
                    color: var(--headingColor);
                }
            }
        }
    }
}

.secHero{
    display: block;
    overflow: hidden;
    min-height: 670px;
    background: url(./images/hero.jpg) no-repeat center center var(--green);;
    background-size: cover;
    position: relative;
    &::after {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 80%;
        height: 100%;
        content: "";
        background: var(--green);
        opacity: 0.8;
        transform: skew(-10deg);
    }
}

.secAbout, .secServices{
    display: block;
    padding: 80px 0 0;
    .buttonSec {
        display: block;
        text-align: center;
        padding: 10px 0 0;
    }
    .link{
        display: inline-block;
        color: #759b24;
        text-decoration: none;
    }
    
}

.twoColumn {
    display: flex;
    gap: 40px;
}

.accordion {
    display: block;
    padding: 80px 0 0;
    h2{
        background: var(--headingColor);
        color: var(--white);
        padding: 10px 20px;
        display: block;
        margin: 0;
    }
    .accContent {
        background: var(--lightGreen);
        padding: 10px 20px;
    }
}

.testimonials {
    display: block;
    padding: 80px 0;
    .testimonialsList {
        display: flex;
        align-items: flex-start;
        text-align: center;
        gap: 40px;
        .review {
            width: 100%;
            background: url(./images/quote.png) no-repeat 0 200px;
            p:last-child {
                color: var(--headingColor);
            }
        } 
    }
}

ul.social {
    display: block;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        margin: 0 0 0 5px;
        &:first-child {
            margin: 0;
        }
        a {
            display: inline-block;
            width: 28px;
            height: 28px;
            overflow: hidden;
            background: url(./images/socialicons.png) no-repeat;
            &.Facebook {
                background-position: 0 0;
            }
            &.Twitter {
                background-position: -37px 0;
            }
            &.LinkedIn {
                background-position: -74px 0;
            }
            &.YouTube {
                background-position: -110px 0;
            }
        }
    }
}



@media screen and (max-width: 1440px) and (min-width: 1367px) {
    .secHero {
        min-height: 500px;
    }
}


@media screen and (max-width: 1366px) and (min-width: 1281px) {
    .secHero {
        min-height: 500px;
    }
}



@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .secHero {
        min-height: 500px;
    }
}


@media screen and (max-width: 1024px) {
    .secHero {
        background-image: url(./images/hero-mob.jpg);
        &::after {
            display: none;
        }
    }

}

@media screen and (max-width: 1024px) and (min-width: 769px) {

}

@media screen and (max-width: 768px) {

h1 {
    font-size: 1.4em;
    line-height: 1.4em;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
}

h3 {
    font-size: 1.0em;
    line-height: 1.0em;
}

header.secHeader {
    text-align: center;
    padding: 30px 0;
}


.twoColumn {
    flex-direction: column;
    gap: 0;
    .colDiv {
        border-top: 1px solid #ddd;
        padding: 20px 0 0;
    }
    &:nth-child(2) .colDiv:first-child {
        border-top: 0;
    }

}

.testimonialsList {
    flex-direction: column;
    blockquote {
        margin: 0;}
    }

    .secAbout, .secServices, .accordion {
        padding: 45px 0 0;
    }


    .testimonials {
        padding: 45px 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {

    .secHero {
        min-height: 530px;
    }

}


@media screen and (max-width: 479px) and (min-width: 320px) {

    .secHero {
        min-height: 270px;
    }

}




